<div class="container">
  <div class="row">
    <div class="col-lg-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="assets/images/sun power.png" width="100px" height="50px" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <span class="year">(November 2016 - Present)</span>
            <br>
            <br>
            <a href="#">Sr. .NET Full Stack Developer</a> 
          </h4>
          <p class="card-text">
              Involved in the System Analysis & Design for all the modules of the dashboard application. 
              Sun Power is the world's largest firm developing solar panels.In the business layer, MVC 5.0 features are implemented for the application - authentication and authorization. 
              Decorator patterns and dependency injection are used to set up the server-side. Front-end user interactive page is designed using HTML5, CSS3, JavaScript and Angular 2.0 technologies.
            Other add-on tools I've worked on involves Site Core content management tools and AWS S3 buckets to store and retrive information.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="assets/images/adient.png" width="100px" height="50px" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
                <span class="year">(June 2015-Sept 2016)</span>
                <br>
                <br>
              <a href="#">.NET Developer</a> 
            </h4>
            <p class="card-text">
                Involved in creating business logic layer and data access layer to implement the MVC windows service architecture.
                Worked on maintaining users profile, roles, database access and document data corrections. Client-side validations are done by using jQuery.
                Other tools and technologies I worked on this project are WCF, Angular 2.0, Entity Framework.
            </p>
          </div>
        </div>
      </div>
      <br>
</div>
<div class="row">
    <div class="col-lg-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="assets/images/gm.jpg" width="150px" height="50px" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <br>
              <br>
              <span class="year">(Jan 2014 - May 2015)</span>
              <br>
              <br>
              <a href="#">.NET Developer</a> 
            </h4>
            <p class="card-text">
                Involved in managing the electronic loading of the legal documents inside the application. Programmed data access layer using ADO.NET which involved in accessing data from
                the database using connected architecture. Other add-on tools I've worked on involves SSRS, GIT, Angular JS, SQL server 2008R2.
            </p>
          </div>
        </div>
      </div>
      

      <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="assets/images/epam.png" width="100px" height="50px" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <br>
                <br>
                <span class="year">(Sept 2012 - Dec 2013)</span>
                <br>
                <br>
                <a href="#">Junior Software Developer</a> 
              </h4>
              <p class="card-text">
                  Involved in migrating the data from legacy systems to SQL server. My main responsibility was to verfiy if the data was
                  genuine. Also, created web services and built a front-end application by consuming the web services.
              </p>
            </div>
          </div>
        </div>


     

      

        

  </div>
</div>