<div class="skill-set">
<div class="row skill">
    <div class="three columns header-col">
        <div class="nine columns main-col">
                <div class="container">
                        <h1 align="center"><span>Skills</span></h1>
                    <div class="row">
                        
                        
                        <div class="col-xs-4 background: chocolate" >
                              
                                <div class="bars">
                                        <ul class="skills">
                                            <li><span class="bar-expand HTML5"><b style="color:rgb(14, 12, 12)">85% </b></span><em>HTML5</em></li>
                                            <li><span class="bar-expand CSS3"><b style="color:rgb(14, 12, 12)">85% </b></span><em>CSS3</em></li>
                                            <li><span class="bar-expand JAVASCRIPT"><b style="color:rgb(14, 12, 12)">80% </b></span><em>JavaScript</em></li>
                                            <li><span class="bar-expand ANGULAR"><b style="color:rgb(14, 12, 12)">70% </b></span><em>AngularJS/2.0</em></li>
                                            <li><span class="bar-expand JQUERY"><b style="color:rgb(14, 12, 12)">70% </b></span><em>jQuery</em></li>
                                        </ul>
                                </div>
                        </div>
                       
                        <div class="col-xs-4 background: chocolate" >
                                
                                <div class="bars">
                                        <ul class="skills">
                                                <li><span class="bar-expand NET"><b style="color:rgb(14, 12, 12)wn">80% </b></span><em>.NET</em></li>   
                                            <li><span class="bar-expand C"><b style="color:rgb(14, 12, 12)">90% </b></span><em>C#</em></li>
                                                <li><span class="bar-expand WEBSERVICES"><b style="color:rgb(14, 12, 12)">75% </b></span><em>Web Services</em></li>
                                                <li><span class="bar-expand ENTITY"><b style="color:rgb(14, 12, 12)">70% </b></span><em>Entity Framework</em></li>
                                                <li><span class="bar-expand WCF"><b style="color:rgb(14, 12, 12)">70% </b></span><em>WCF</em></li>
                                                
                                        </ul>
                                </div>
                        </div>
                
                        <div class="col-xs-4 background: chocolate" >
                                <div class="bars">
                                        <ul class="skills">
                                                <li><span class="bar-expand ASP"><b style="color:rgb(14, 12, 12)">80% </b></span><em>ASP.NET</em></li>
                                                <li><span class="bar-expand SSIS"><b style="color:rgb(14, 12, 12)">70% </b></span><em>SSRS & SSIS</em></li>
                                                <li><span class="bar-expand VS"><b style="color:rgb(14, 12, 12)">70% </b></span><em>Visual Studio</em></li>
                                                <li><span class="bar-expand ADO"><b style="color:rgb(14, 12, 12)">75% </b></span><em>ADO.NET</em></li>
                                                <li><span class="bar-expand SQL"><b style="color:rgb(14, 12, 12)">80% </b></span><em>SQL/PL-SQL</em></li>
                                        </ul>
                                </div>
                        </div>
                
                
                    </div>
                </div>
                
        </div>
    </div>
</div>

</div>

                 



               