<div class='sec-home' id="home">
  <div class="container">
<div class="row center-block">
    <div class="col-md-12 text-center">  
        <div class="container">
          <div id="carousel">
            <figure><img src="assets/images/git.PNG" alt="" width="100px" height="100px"></figure>
            <figure><img src="assets/images/.NET.JPG" alt="" width="125px" height="100px"></figure>
            <figure><img src="assets/images/angular.png" width="100px" height="100px" alt=""></figure>
            <figure><img src="assets/images/ASP.NET MVC.PNG" width="100px" height="100px" alt=""></figure>
            <figure><img src="assets/images/android-dinner.jpg" width="100px" height="100px" alt=""></figure>
            <figure><img src="assets/images/HTML.jpg" alt="" width="100px" height="100px"></figure>
            <figure><img src="assets/images/VS.png" alt="" width="125px" height="100px"></figure>
            <figure><img src="assets/images/android-computer-android-studio.jpg" alt="" width="100px" height="100px"></figure>
            <figure><img src="assets/images/jira.png" alt="" width="100px" height="100px"></figure>
          </div>
        </div>    
    </div>
  </div>
  

  <section id="services" style="margin-top:100px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading" style="margin-bottom:30px;"><b>I'M AMULYA</b></h2>
            <h3>  .NET Developer  |  UI Web Developer</h3>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-linkedin text-primary mb-3 sr-icons" onclick="window.open('https://www.linkedin.com/in/amulya-t-574085156/')"></i>
              <h3 class="mb-3">LinkedIn</h3>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-github text-primary mb-3 sr-icons" onclick="window.open('https://github.com/AmulyaTharimana')"></i>
              <h3 class="mb-3">Github</h3>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-quora text-primary mb-3 sr-icons" onclick="window.open('https://www.quora.com/profile/Amulya-Raju')"></i>
              <h3 class="mb-3">Quora</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>